* {
    padding:0;
    margin:0;
}

.todo{
    width: 50%;
    margin: auto;
}

.todo-list {
    margin-top: 15px;
    margin-left: 15px;
    width: 95%;
    height: 400px;
    /* display: block; */

}
.taskcard {
    margin-top: 5px;
    padding: 10px;
    /* box-shadow:'10px 20px 30px black'; */
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.deleteBtn {
    display: inline-block;
}

.completed {
    text-decoration: line-through;
}
